{% extends 'logo.html' %}

{% block content %}
<div class="container">
  <div class="row" style="text-align: center;">
    <h3>О предприятии</h3>
  </div>
  <hr/>
  <div class="row" style="margin-bottom: 20px;">
    <div style="text-align: justify; text-indent: 35.4pt;">
      Холдинг &laquo;Лотос&raquo; одно из крупнейших, стабильных и постоянно
      развивающихся&nbsp;предприятий Республики Карелия. В 1989 году в городе
      Петрозаводске было создано первое&nbsp;небольшое коммерческое предприятие
      &laquo;Лотос&raquo;. С тех пор,&nbsp;за&nbsp;более четверти века, из
      небольшой фирмы, вырос холдинг &laquo;Лотос&raquo;, в состав которого входят:
      гипермаркет &laquo;Сигма&raquo;,&nbsp;первый в Петрозаводске супермаркет
      премиум-класса &laquo;Лотос Гурман&raquo;,&nbsp;&nbsp;5 супермаркетов, база
      отдыха &laquo;Радуга&raquo;,&nbsp; ДК &laquo;Машиностроитель&raquo;,
      ресторан &laquo;Пинта паб&raquo;, кафе &laquo;Сигма сити&raquo;&nbsp;и
      гостиница &laquo;Северная&raquo;.</div>
    <div style="text-align: justify; text-indent: 35.4pt;">Компания непрерывно
      развивается, наращивает потенциал, совершенствует бизнес-процессы, повышая
      эффективность, старается быть пионером, в тех областях, в направлении которых
      ведет развитие. Новаторство является одним из главных &nbsp;конкурентных
      преимуществ в управлении холдингом &laquo;Лотос&raquo;. Достаточно вспомнить,
      что в 90-годы фирма &laquo;Лотос&raquo; одна из первых в городе открыла
      современные и комфортные магазины с круглосуточным обслуживанием, в 1996
      году на улице Анохина 37 появился первый в Карелии супермаркет
      самообслуживания. В декабре 2004 года открылся первый в Республике
      современный гипермаркет розничной торговли &laquo;Сигма&raquo;, а в декабре
      2010 единственный во всем регионе супермаркет премиум-класса &laquo;Лотос
      Гурман&raquo;</div>
    <div style="text-align: justify; text-indent: 35.4pt;">С 2008 года, когда под
      маркой &laquo;Пинта Паб&raquo;, открыл двери пивной бар и Березовой аллее
      25а, активно развивается направление по организации общественного питания.
      Сегодня в холдинг &laquo;Лотос&raquo;, помимо &laquo;Пинта Паба&raquo; входят
      два кафе &ndash; &laquo;Сигма сити&raquo; и &laquo;Блинная&raquo;.</div>
    <div style="text-align: justify; text-indent: 35.4pt;">&nbsp;Благодаря быстрому
      реагированию на изменение рынка, следование тенденциям рынка, современным
      реалиям бизнеса, а нередко и являясь катализатором бизнес-процессов, холдинг
      &laquo;Лотос&raquo; много лет остается признанным лидером в сфере услуг на
      рынке Карелии и одним из ведущих и престижнейших работодателей города
      Петрозаводска и Республики. Компания непрерывно развивается, наращивает
      потенциал, повышает эффективность сети, качество представленных товаров
      и услуг, уровень обслуживания покупателей, развивает новые направления
      бизнеса.</div>
    <div style="text-align: justify; text-indent: 35.4pt;">Сегодня, следуя
      приоритетному направлению &ndash; развития туристского потенциала
      Республики Карелия, холдинг &laquo;Лотос&raquo; стал собственником
      одного из ведущих туристских предприятий Петрозаводска &ndash; гостиницы
      &laquo;Северная&raquo;, по мимо этого, в активе холдинга находится турбаза
      &laquo;Радуга&raquo;. Гостям и жителям Карелии, холдинг &laquo;Лотос&raquo;
      готов предложить, не только комфортное размещение, но и активный отдых,
      благодаря новому направлению бизнеса &ndash; фрахт яхт и катеров.</div>
    <div style="text-align: justify; text-indent: 35.4pt;">Одним из приоритетных
      направлений развития, руководство холдинга &laquo;Лотос&raquo; считает
      инвестиционную и девелоперскую деятельность, курс на освоение которых,
      единогласно принят топ-менеджерами.</div>
    <div style="text-align: justify; text-indent: 35.4pt;">&nbsp;Холдинг
      &laquo;Лотос&raquo; это стабильный работодатель, ответственный член
      современного делового общества и надежный партнер, поддерживающий высокий
      уровень социальной ответственности. Холдинг &laquo;Лотос&raquo; уделяет
      большое внимание благотворительной деятельности, как очень важному
      направлению в решении социальных задач. Холдинг &laquo;Лотос&raquo;
      растет, разрабатывает планы перспективного развития. Расширение ассортимента,
      высокое качество продукции собственного производства, культуры обслуживания -
      первостепенные задачи холдинга.</div>
  </div>
  <hr/>
</div>

{% endblock %}
